Package: laps-client
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-pip, python3-qtpy, python3-gssapi, python3-dnspython, python3-pycryptodome, libkrb5-dev
Conflicts: laps-client, laps-client-gui, laps-client-cli
Maintainer: kraloveckey <kraloveckey@gmail.com>
Description: Linux implementation of the Local Administrator Password Solution (LAPS) GUI from Microsoft.
 This package contains the management client GUI und CLI for viewing the admin passwords and setting new expiration dates.

